sudo: false
language: ruby
cache: bundler
rvm:
  - 2.7.1
before_install:
  - gem install bundler
  - gem install rake

install:
  # Install Jekyll and dependencies
  - bundle install

script: bundle exec rake site:deploy --quiet #--trace

# Generate your secure token with the travis gem:
# get Github token from your Travis CI profile page
# gem install travis
# GH_TOKEN from https://github.com/settings/tokens
# travis encrypt 'GIT_NAME="YOUR_USERNAME" GIT_EMAIL="YOUR_EMAIL" GH_TOKEN=YOUR_TOKEN'
env:
  global:
    secure: 'W/HbAoeeSyc+H+84SMOY5hAis1n2SmgxEBC4SnDcNfPTdnVBDsp8jbPRnsBRqqrTSKo4jQR6ycQpAOOyKFA/JavWCnR+Q3k3SdrQW8B5bpDh8PewNNffzkYXeipWERB2u2NHmXOa2EwxOVbQTlvGa6UUnaqC8YTGx7DH1BzMd/WLzObpV2oiZ0pz0hOGJjoPPCMK2jzn9l9JWO32ClbgGBFDZsuuHKkfbcmIoxuq4e3cd7xPdMjpCYHekWaiDvgqLoSMzvuGv/niyRh3UN2Vz6PeIwOyIe0+RCEuaneVsGl31asIUF48HxNcRiOWjDM/sjLcStxb7zzzcSpn0gzcAdrIQbvZO/R0sxD0D43dD7TDumnTYzCKF77QMhSfPJqSRaXlvxa/rEF9YdBAJ3F03qNKdGxIKdaKT885b36wJ3DS6eyzlDtCqK9TkEv5J+wQWvfVSmz4AFA/hX/mTZnIuHrMUIdjbYQwyxJtB6DzvbiScr5jAF5xpzSNs2NPYgP2AmuyS/004ErX7btTyd7JikKQZTiGXkZVAXHd+VzFsTBMG++fAsx32ObGzGFmBKSFpkYaEScgAgp2xVvNgLrdbMNya4SGrmGTEtgMrmqLPuEIvo/J/WznzDvs0V/khUwdPOD4X5Bb9g28oO6pXwohjgY8OWYm8WJ+QWh7F2HgYMY='
branches:
  only:
    - master
